<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zisheng.Mapper.TestMapper">
    <sql id="searchById">
        select * from user_table
    </sql>
    <select id="searchById" resultType="com.zisheng.Pojo.User">
        <include refid="searchById"></include> where id = #{id};
    </select>
</mapper>